## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
%matplotlib inline
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import time

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-02-06 20:22:14,-46.1927,168.8643,47.34,74,5,1.28,clear sky
1,1,Vao,NC,2022-02-06 20:22:14,-22.6667,167.4833,80.04,84,79,1.16,broken clouds
2,2,Cowansville,CA,2022-02-06 20:20:17,45.2001,-72.7491,23.16,45,63,4.61,broken clouds
3,3,Hovd,MN,2022-02-06 20:22:15,48.0056,91.6419,-14.08,74,13,3.20,few clouds
4,4,Deputatskiy,RU,2022-02-06 20:22:15,69.3000,139.9000,-34.76,98,78,5.35,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 10
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-02-06 20:22:14,-46.1927,168.8643,47.34,74,5,1.28,clear sky
1,1,Vao,NC,2022-02-06 20:22:14,-22.6667,167.4833,80.04,84,79,1.16,broken clouds
2,2,Cowansville,CA,2022-02-06 20:20:17,45.2001,-72.7491,23.16,45,63,4.61,broken clouds
5,5,Cape Town,ZA,2022-02-06 20:20:47,-33.9258,18.4232,67.12,75,20,6.91,few clouds
6,6,Ati,TD,2022-02-06 20:22:16,13.2154,18.3353,71.24,14,0,10.33,clear sky
7,7,Hermanus,ZA,2022-02-06 20:22:14,-34.4187,19.2345,67.80,92,9,7.09,clear sky
8,8,New Norfolk,AU,2022-02-06 20:22:17,-42.7826,147.0587,52.75,75,4,1.95,clear sky
9,9,Busselton,AU,2022-02-06 20:22:17,-33.6500,115.3333,53.10,53,47,17.13,scattered clouds
10,10,Victoria,HK,2022-02-06 20:20:03,22.2855,114.1577,62.58,80,100,3.00,overcast clouds
11,11,Ushuaia,AR,2022-02-06 20:22:18,-54.8000,-68.3000,64.06,55,75,18.41,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-02-06 20:22:14,-46.1927,168.8643,47.34,74,5,1.28,clear sky
1,1,Vao,NC,2022-02-06 20:22:14,-22.6667,167.4833,80.04,84,79,1.16,broken clouds
2,2,Cowansville,CA,2022-02-06 20:20:17,45.2001,-72.7491,23.16,45,63,4.61,broken clouds
5,5,Cape Town,ZA,2022-02-06 20:20:47,-33.9258,18.4232,67.12,75,20,6.91,few clouds
6,6,Ati,TD,2022-02-06 20:22:16,13.2154,18.3353,71.24,14,0,10.33,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
675,675,Kukuna,SL,2022-02-06 20:41:12,9.4000,-12.6667,77.20,67,31,8.12,scattered clouds
676,676,Bela Vista Do Paraiso,BR,2022-02-06 20:41:13,-22.9967,-51.1906,87.04,85,26,5.73,scattered clouds
677,677,Havre,FR,2022-02-06 20:41:13,49.5833,0.3333,50.43,87,75,21.85,broken clouds
678,678,Kuryk,KZ,2022-02-06 20:41:13,43.2000,51.6500,39.54,75,96,8.28,overcast clouds
679,679,Skibbereen,IE,2022-02-06 20:41:14,51.5500,-9.2667,51.12,85,93,13.44,overcast clouds

In [7]:
# 4b.1 Recheck if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,47.34,clear sky,-46.1927,168.8643,
1,Vao,NC,80.04,broken clouds,-22.6667,167.4833,
2,Cowansville,CA,23.16,broken clouds,45.2001,-72.7491,
5,Cape Town,ZA,67.12,few clouds,-33.9258,18.4232,
6,Ati,TD,71.24,clear sky,13.2154,18.3353,
7,Hermanus,ZA,67.80,clear sky,-34.4187,19.2345,
8,New Norfolk,AU,52.75,clear sky,-42.7826,147.0587,
9,Busselton,AU,53.10,scattered clouds,-33.6500,115.3333,
10,Victoria,HK,62.58,overcast clouds,22.2855,114.1577,
11,Ushuaia,AR,64.06,broken clouds,-54.8000,-68.3000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
import json
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,47.34,clear sky,-46.1927,168.8643,Ellie's Villa
1,Vao,NC,80.04,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
2,Cowansville,CA,23.16,broken clouds,45.2001,-72.7491,Hotel Cowansville
5,Cape Town,ZA,67.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
7,Hermanus,ZA,67.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
8,New Norfolk,AU,52.75,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
9,Busselton,AU,53.10,scattered clouds,-33.6500,115.3333,Observatory Guest House
10,Victoria,HK,62.58,overcast clouds,22.2855,114.1577,Mini Hotel Central
11,Ushuaia,AR,64.06,broken clouds,-54.8000,-68.3000,Albatross Hotel
12,Vila Franca Do Campo,PT,61.20,broken clouds,37.7167,-25.4333,Pestana Bahia Praia

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))